{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1,
              user-scalable=no" />
  <meta name="url" content="https://ebonsignori.com/">

  <title>Home | Evan A. Bonsignori</title>
  <meta name="author" content="Evan A. Bonsignori">
  <meta name="description" content="Evan Bonsignori's Website.">


  <!--<meta property="og:image" content="img/open_graph/portfolio.jpeg"> -->
  <meta property="og:description" content="Evan Bonsignori's Website.">
  <meta property="og:title" content="Evan A. Bonsignori">

    {% load static %}
  <link href="{% static 'home/css/home.css' %}" rel="stylesheet"> <!-- Custom CSS -->
  <link href="{% static 'home/css/vendor/bootstrap3.min.css' %}" rel="stylesheet">  <!-- Bootstrap Core CSS -->
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"> <!-- Font-Awesome CSS -->

  <script type="text/javascript" src="{% static 'home/js/vendor/jquery-3.2.1.min.js' %}"></script>
</head>

<body>
    <style>
        #background-slider {
            background-image: url("{% static 'home/images/background.png' %}");
        }
        #about-section {
            background: url("{% static 'home/images/grey_wash_wall.png' %}");
        }
        footer {
            background-image: url("{% static 'home/images/background.png' %}");
        }
    </style>

{#  <nav data-spy="affix" id="dot-nav">#}
{#    	<ul>#}
{#	      <li class="awesome-tooltip active" title="Home"><a href="#background-slider"></a></li>#}
{#          <li class="awesome-tooltip" title="About"><a href="#about-section"></a></li>#}
{#	      <li class="awesome-tooltip" title="Portfolio"><a href="#portfolio"></a></li>#}
{#	      <li class="awesome-tooltip" title="Contact"><a href="#contact-section"></a></li>#}
{#	    </ul>#}
{#	</nav>#}

  <div class="button_container" id="toggle">
  <span class="top"></span>
  <span class="middle"></span>
  <span class="bottom"></span>
  </div>

  <div class="overlay" id="overlay">
    <nav class="overlay-menu">
      <ul>
        <li><a class="smooth-scroll" href="#background-slider">Home</a></li>
        <li><a href="../blog">Blog</a></li>
        <li><a class="smooth-scroll" href="#about-section">About</a></li>
        <li><a class="smooth-scroll" href="#portfolio">Portfolio</a></li>
        <li><a class="smooth-scroll" href="#contact-section">Contact</a></li>
      </ul>
    </nav>
  </div>

  <section id="background-slider">
    <div class="circle-text-container">
      <h1 class="circle-text">
        <span class="char1">E</span>
        <span class="char2">v</span>
        <span class="char3">a</span>
        <span class="char4">n</span>
        <span class="char5"><a class="circle-text-seperator pulse" href="#"></a></span>
        <span class="char7">B</span>
        <span class="char8">o</span>
        <span class="char9">n</span>
        <span class="char10">s</span>
        <span class="char11">i</span>
        <span class="char12">g</span>
        <span class="char13">n</span>
        <span class="char14">o</span>
        <span class="char15">r</span>
        <span class="char16">i</span>
      </h1>
    </div>
    <div class="mobile-text-header left">
      <h1>Evan</h1>
    </div>
    <div class="profile-image" id="center">
      <div class="losange">
        <div class="los1">
          <img src="{% static '/home/images/evan_profile_redrocks_headcrop.jpg' %}" name="Profile Picture" alt="A picture of Evan Bonsignori" title="Evan Bonsignori" id="profile-image" />
        </div>
      </div>
    </div>

    <div class="profile-button"><a href="#about-section" class="metro flip smooth-scroll">About</a></div>
    <div class="profile-button"><a href="../blog" class="metro">Blog</a></div>
    <div class="profile-button"><a href="#portfolio" class="metro smooth-scroll">Portfolio</a></div>
    <div class="profile-button"><a href="#contact-section" class="metro flip smooth-scroll">Contact</a></div>

    <div class="mobile-text-header right">
      <h1>Bonsignori</h1>
    </div>

    <div id="profile-scroll" class="arrow">
    	<a class="smooth-scroll" href="#about-section"><span></span></a>
    </div>
    <div id="triangle"></div>
  </section>

  <!-- About Section -->
  <section id="about-section">
    <div id="shell">
      <div id="upper">
        <div id="buttons">
          <div class="button red toolbartip toolbar-red" id="toolbar-red">
            <div class="inner-light-top"></div>
            <div class="inner-light-bottom"></div>
            <div class="inner-dark-top"></div>
            <span class="toolbartiptext red">Reset</span>
          </div>
          <div class="button yellow toolbartip toolbar-yellow" id="toolbar-yellow">
            <div class="inner-light-top"></div>
            <div class="inner-dark-top"></div>
            <div class="inner-light-bottom"></div>
            <span class="toolbartiptext yellow">Minimize</span>
          </div>
          <div class="button green toolbartip" id="toolbar-green">
            <div class="inner-light-top"></div>
            <div class="inner-dark-top"></div>
            <div class="inner-light-bottom"></div>
            <span class="toolbartiptext green">Clear</span>
          </div>
        </div>
        <span class="title">https://ebonsignori.com/index</span>
      </div>
      <div id="main">
        <span class="fore">about@ebonsignori.com </span><span class="accent">$</span>
        <div class="enter" id="query" contenteditable="true">
          <span id="filler"><span class="accent"></span>Enter your query here</span></span>
        </div>
      </div>
    </div>
  </section>

    <!-- Portfolio Section -->
    <section id="portfolio">
      <h1 class="text-center header">Portfolio</h1>
      <div class="container">
          <div class="row">
              <ul id="filters" class="clearfix">
                <li><span class="filter active" id="all">All</span></li>
                   {% for item in portfolio_categories %}
                <li><span class="filter" data-cat="{{ item.data_cat }}">{{ item.title }}</span></li>
                  {% endfor %}
              </ul>
          </div>

          <div id="portfolio-content">
          <div class="row">
              {% for item in portfolio_items %}
                      <!-- Portfolio Display-->
                   <div class="col-lg-4 col-md-4 col-sm-6 portfolio-item" data-cat="{{ item.category.data_cat }}">
                      <a href="#{{ item.modal_id }}" class="portfolio-link" data-toggle="modal">
                          <div class="portfolio-hover">
                              <div class="portfolio-hover-content">
                                  <i class="fa fa-plus fa-3x"></i>
                              </div>
                          </div>
                          <img src="{{ MEDIA_URL }}{{ item.display_image.url }}" class="img-responsive" alt="">
                      </a>
                      <div class="portfolio-caption">
                          <h4>{{ item.caption_title }}</h4>
                          <p class="text-muted">{{ item.caption_subtitle }}</p>
                      </div>
                  </div>
              {% endfor %}
          </div>
        </div>
      </div>
    </section>

    <!-- Contact Section -->
    <section id="contact-section">
    <h1 class="text-center header">Contact</h1>
          <!-- Contact Form -->
        <div class="container">
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xs-offset-3">
                      <form id="contact-form" class="form" action="#contact-section" method="POST" role="form">
                          {% csrf_token %}
                          {{ form.non_field_errors }}

                          <div class="form-group">
                              <label class="form-label" for="{{ form.contact_name.id_for_label }}">Your Name</label>
                              {{ form.contact_name.errors }}
                              {{ form.contact_name}}
                          </div>

                          <div class="form-group">
                              <label class="form-label" for="{{ form.contact_email.id_for_label }}">Your Email</label>
                              {{ form.contact_email.errors }}
                              {{ form.contact_email }}
                          </div>

                          <div class="form-group">
                              <label class="form-label" for="{{ form.subject.id_for_label }}">Subject</label>
                              {{ form.subject.errors }}
                              {{ form.subject }}
                          </div>

                          <div class="form-group">
                              <label class="form-label" for="{{ form.contact_email.id_for_label }}">Message</label>
                              {{ form.message.errors }}
                              {{ form.message }}
                          </div>

                          <div class="text-center">
                              <button type="submit" id="message_submit" class="btn btn-start-order">Send Message</button>
                          </div>

                      </form>
                         <div class="text-center">
                               {% if was_sent %}
                                    <p style="color: green"> Message sent! </p>
                              {% endif %}
                         </div>
               </div>
            </div>
        <div>
    <hr />
      <!-- Contact info hidden in javascript to prevent spam bots -->
            <h2 class="text-center">Or View Evan's Contact Info</h2>
          <div id="contact-show" class="text-center">
              <h3><em>Hidden From Bots, Click to Show</em></h3>
            <p style="margin-top: 15px;"> <br />
                <button style="margin-top: -15px;" class="btn btn-start-order"
                onclick="showContactInfo()">Contact Information</button>
            </p>
          </div>
  </section>

  </div><!-- /.container -->

  <!-- Footer Section -->
  <footer>
      <div class="container">
          <div class="row">
              <div class="col-md-4">
                  <span class="copyright">Copyright &copy; Evan Bonsignori 2017</span>
              </div>
              <div class="col-md-4">
                      <ul class="list-inline social-network social-circle">
                        <!--<li>
                          <a href="#home-section" class="icoHome smooth-scroll">
                            <i class="fa fa-home"></i></a>
                        </li>-->
                        <li>
                          <a href="https://www.facebook.com/ebonsignori" target="_blank" class="icoFacebook">
                            <i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                          <a href="https://github.com/Ebonsignori" target="_blank" class="icoGithub">
                            <i class="fa fa-github"></i></a>
                        </li>
                        <li>
                          <a href="https://www.linkedin.com/in/evan-bonsignori-33167787" target="_blank" class="icoLinkedin">
                            <i class="fa fa-linkedin"></i></a>
                        </li>
                        <li>
                          <a href="https://www.instagram.com/ebonsignori/" target="_blank" class="icoInstagram">
                            <i class="fa fa-instagram"></i></a>
                        </li>
                      </ul>
              </div>
              <div class="col-md-4">
                  <ul class="list-inline quicklinks">
                      <li><a href="/blog">Blog</a>
                      </li>
                      <li><a href="/acknowledgements">Acknowledgements</a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </footer>

  <!-- Portfolio Modals -->
    {% for item in portfolio_items %}
                  <div class="portfolio-modal modal fade" id="{{ item.modal_id }}" tabindex="-1" role="dialog" aria-hidden="true">
                      <div class="modal-dialog">
                          <div class="modal-content">
                              <div class="close-modal" data-dismiss="modal">
                                  <div class="lr">
                                      <div class="rl">
                                      </div>
                                  </div>
                              </div>
                              <div class="container">
                                  <div class="row">
                                      <div class="col-lg-8 col-lg-offset-2">
                                          <div class="modal-body">
                                              <h2>{{ item.modal_header }}</h2>
                                              <p class="item-intro text-muted">{{ item.modal_subtitle }}</p>
                                              <img class="img-responsive img-centered" {% if item.modal_image %}src="{{ item.modal_image.url }}"{% endif %}></img>
                                              {% autoescape off %}{{ item.modal_body|safe }}{% endautoescape %}
                                              <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                                              <ul class="list-inline">
                                                  <li>Date: {{ item.modal_date }}</li>
                                                  <li>Client: {{ item.modal_date }}</li>
                                                  <li>Category: {{ item.category.title }}</li>
                                              </ul>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
    {% endfor %}

  <script type="text/javascript" src="{% static 'home/js/vendor/bootstrap3.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'home/js/vendor/typed.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'home/js/home.js' %}"></script>
{#  <script type="text/javascript" src="{% static 'home/js/dotnav.js' %}"></script>#}
  <script type="text/javascript" src="{% static 'home/js/terminal.js' %}"></script>
  <script type="text/javascript" src="{% static 'home/js/portfolio_sort.js' %}"></script>

  <!-- Google Analytics Code -->

</body>

</html>
