{% extends 'blog/base.html' %}


    {% block title %}{% if category.title %}Editing: {{ category.title }}{% else %}New Category{% endif %}{% endblock %}
    {% block page_title %}Drafts | Evan A. Bonsignori{% endblock %}
    {% block no_index %} <META NAME="robots" CONTENT="noindex,nofollow"> {% endblock %}
    {% block main_image %}{% if post.header_image %}{{ MEDIA_URL }}{{ post.header_image.url }}{% else %}{% load static %}{% static "blog/images/background.png" %}{% endif %}{% endblock %}

{% block content %}
    <div class="edit-form-wrap">
    <form class="edit-form" method="POST" enctype="multipart/form-data" action="">{% csrf_token %}
        {{ form.as_ul }}
        <button type="submit" class="save btn btn-default options-btn publish" style="color:black">Save</button>
    </form>
    {{ form.media }}
    </div>
{% endblock %}