{% extends 'blog/base.html' %}
    {% block page_title %}Edit Comment - {% if post.title %}{{ post.title }}{% endif %}{% endblock %}
    {% block title %}Edit Comment{% endblock %}
    {% block subtitle %}<h2>{% if post.title %}On {{ post.title }}{% endif %}</h2>{% endblock %}
    {% block main_image %}{% if post.header_image %}{{ MEDIA_URL }}{{ post.header_image.url }}{% else %}{% load static %}{% static "blog/images/background.png" %}{% endif %}{% endblock %}

    {% block meta %}
        <span class="meta"> Comments must be approved before being displayed <br/>
        <a class="btn btn-default options-btn remove" href="{% url 'comment_remove' pk=comment.pk %}">Delete Comment</a>
        </span>
    {% endblock %}

{% block content %}
    <div class="edit-form-wrap-comment">
        <h3 class="text-center" id="new-comment">Edit Comment</h3>
        <form class="add-comment-form" method="POST" action="" role="form">
            {% csrf_token %}
                  {{ comment_form.non_field_errors }}

                  <div class="add-comment">
                      <label class="add-comment-label" for="{{ comment_form.author.id_for_label }}"><em>Your Name</em></label>
                      {{ comment_form.author.errors }}
                      {{ comment_form.author}}
                  </div>
                <br />
                <div class="add-comment">
                    <label class="add-comment-label" for="{{ comment_form.comment_body.id_for_label }}"><em>Your Comment</em></label>
                          {{ comment_form.comment_body.errors }}
                          {{ comment_form.comment_body}}
                </div>
            <button class="btn btn-default options-btn comment-btn inline-btn" style="background-color: lightgrey; margin-top: 25px;" type="submit" style="color:black">Revise Comment</button>
        </form>
    </div>
{% endblock %}