{% extends 'blog/base.html' %}

{% block page_title %}Evan Bonsignori's Blog{% endblock %}
{% block title %}Blog{% endblock %}
{% block subtitle %}{% if category %}{% else %}Recent Posts{% endif %}{% endblock %}
{% block meta %}
    <span class="meta">
        <nav class="dropdown">
          <button class="dropbtn">
          {% if category %}
          {% for cat in categories %}
                {% if category.title == cat.title %}{{ cat.title }}
                {% endif %}
          {% endfor %}
          {% else %}Select A Category
          {% endif %}

          </button>
          <div class="dropdown-content">
          {% for cat in categories %}
              {% if category %}
                  {% if cat.title != category.title %}
                    <a href="{% url 'change_category' slug=cat.slug %}">{{ cat.title }}</a>
                  {% endif %}
              {% else %}
                  <a href="{% url 'change_category' slug=cat.slug %}">{{ cat.title }}</a>
              {% endif %}
          {% endfor %}
          </div>
        </nav>

        {% for cat in categories %}
                {% if category.title == cat.title %}
                    <br />
                     <br />
                    <a class="btn btn-default options-btn remove" href="{% url 'category_delete' pk=category.pk %}">Delete Category</a>
                {% endif %}
          {% endfor %}
    </span>
{% endblock %}

{% block content %}
     <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
    {% for post in posts %}
        {% if post.is_deleted == False and post.is_published %}
             <div class="post-preview">
                 <a href="{{ post.get_absolute_url }}">
                  <h2 class="post-title">
                    {{ post.title }}
                  </h2>
                  <h3 class="post-subtitle">
                    {{ post.subtitle }} <br />
                      Category: {{ post.category }}
                  </h3>
                </a>
                <p class="post-meta">Posted by
                  <a href="#">{{ post.author }}</a>
                  on {{ post.published_date|date:"F j, Y" }}</p>
                 {% if user.is_authenticated %}
                    <a class="btn btn-default options-btn inline-btn edit" href="{% url 'post_edit' slug=post.slug %}">Edit Post</a>
                     {% if post.category %}
                         <a class="btn btn-default options-btn inline-btn edit" href="{% url 'category_edit' slug=post.category.slug %}">Edit Category</a>
                     {% endif %}
                 {% endif %}
              </div>
              <hr />
        {% endif %}
    {% endfor %}
        </div>
      </div>
    </div>
{% endblock %}