{% extends 'blog/base.html' %}

{% block page_title %}{% if category %}{{ category }}{% else %}Posts{% endif %} | Evan A. Bonsignori's Blog{% endblock %}
{% block page_description %}A list of {% if category %}posts in the category: {{ category }}{% else %}all posts{% endif %} in Evan Bonsignori's Blog{% endblock %}
{% block page_og_title %}{% if category %}{{ category }}{% else %}Posts{% endif %} | Evan A. Bonsignori's Blog{% endblock %}
{% block page_og_description %}A list of {% if category %}posts in the category: {{ category }}{% else %}all posts{% endif %} in Evan Bonsignori's Blog{% endblock %}
{% block page_og_image %}https://ebonsignori.com{% load static %}{% static "blog/images/background.png" %}{% endblock %}
{% block type %}website{% endblock %}
{% block title %}{% if category %}{{ category.title }}{% else %}Blog{% endif %}{% endblock %}
{% block subtitle %}{% if category %}{% else %}Recent Posts{% endif %}{% endblock %}
{% block main_image %}{% if category.header_image %}{{ MEDIA_URL }}{{ category.header_image.url }}{% else %}{% load static %}{% static "blog/images/background.png" %}{% endif %}{% endblock %}
{% block meta %}
    <span class="meta">
        <nav class="dropdown">
          <button class="dropbtn">
          {% if category %}
          {% for cat in categories %}
                {% if category.title == cat.title %}{{ cat.title }}
                {% endif %}
          {% endfor %}
          {% else %}Category
          {% endif %}
          </button>

          <div class="dropdown-content">
          {% for cat in categories %}
              {% if category %}
                  {% if cat.title != category.title %}
                    <a href="{% url 'change_category' slug=cat.slug %}">{{ cat.title }}</a>
                  {% endif %}
              {% else %}
                  <a href="{% url 'change_category' slug=cat.slug %}">{{ cat.title }}</a>
              {% endif %}
          {% endfor %}
          </div>
        </nav>

    {% if user.is_authenticated %}
        {% for cat in categories %}
                {% if category.title == cat.title %}
                    <br />
                     <br />
                    <a class="btn btn-default options-btn edit" href="{% url 'category_edit' slug=category.slug %}">Edit Category</a>
                    <br /><br />
                    <a class="btn btn-default options-btn remove" href="{% url 'category_delete' pk=category.pk %}">Delete Category</a>
                {% endif %}
          {% endfor %}
    {% endif %}
    </span>
{% endblock %}

{% block content %}
     <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
    {% for post in posts %}
        {% if post.is_deleted == False and post.is_published %}

             <div class="post-preview">
                 <a href="{{ post.get_absolute_url }}">
                  <h2 class="post-title">
                    {{ post.title }}
                  </h2>
                  <h3 class="post-subtitle">
                    {{ post.subtitle }} <br />
                  </h3>
                     {% if post.preview %}
                    <img src="{{ MEDIA_URL }}{{ post.get_preview_image.url }}" class="post-image" />
                 {% endif %}
                </a>
                <p class="post-meta">
                    Category: <a href="{% url 'change_category' slug=post.category.slug %}"> {{ post.category }}</a> <br />
                    Posted by
                  <a href="/#about-section">{{ post.author }}</a>
                  on {{ post.published_date|date:"F j, Y" }}</p>
                 {% if user.is_authenticated %}
                    <a class="btn btn-default options-btn inline-btn edit" href="{% url 'post_edit' slug=post.slug %}">Edit Post</a>
                 {% endif %}
              </div>
              <hr />
        {% endif %}
    {% endfor %}
        </div>
      </div>
    </div>
{% endblock %}