{% extends 'blog/base.html' %}

{% block page_title %}Drafts | Evan A. Bonsignori{% endblock %}
{% block main_image %}{% load static %}{% static "blog/images/background.png" %}{% endblock %}
{% block no_index %} <META NAME="robots" CONTENT="noindex,nofollow"> {% endblock %}

{% block content %}
    {% for post in posts %}
        {%  if post.is_deleted != True %}
             <div class="post-preview">
             {% if user.is_authenticated %}
                <a class="btn btn-default" href="{% url 'post_edit' slug=post.slug %}"><span class="glyphicon glyphicon-pencil"></span></a>
               {% endif %}
             <a href="{{ post.get_absolute_url }}">
              <h2 class="post-title">
                {{ post.title }}
              </h2>
              <h3 class="post-subtitle">
                {{ post.subtitle }}
              </h3>
            </a>
            <p class="post-meta">Updated last
              on {{ post.updated_date|date:"F j, Y" }}</p>
            {% if user.is_authenticated %}
                    <a class="btn btn-default options-btn inline-btn publish" href="{% url 'post_publish' slug=post.slug %}"><span class="glyphicon glyphicon-check"></span>Publish</a>
                    <a class="btn btn-default options-btn inline-btn remove" href="{% url 'post_remove' slug=post.slug %}"><span class="glyphicon glyphicon-remove"></span>Remove</a>
            {% endif %}
          </div>
        {% endif %}
    {% endfor %}
{% endblock %}