{% extends 'blog/base.html' %}

{% block page_title %}{{ post.title }} | Blog {% endblock %}
{% block page_description %}{{ post.description }}{% endblock %}
{% block page_og_title %}{{ post.title }} | Evan A. Bonsignori{% endblock %}
{% block page_og_description %}{{ post.description }}{% endblock %}
{% block page_og_image %}{% if post.header_image %}https://ebonsignori.com{{ MEDIA_URL }}{{ post.header_image.url }}{% else %}{% load static %}{% static "blog/images/background.png" %}{% endif %}{% endblock %}
{% block type %}article{% endblock %}
{% block title %}{{ post.title }}{% endblock %}
{% block subtitle %}<h2>{{ post.subtitle }}</h2>{% endblock %}
{% block main_image %}{% if post.header_image %}{{ MEDIA_URL }}{{ post.header_image.url }}{% else %}{% load static %}{% static "blog/images/background.png" %}{% endif %}{% endblock %}
{% block meta %}
    <span class="meta">
        Posted by {{ post.author }} on
        {% if post.published_date %}
            {{ post.published_date |date:"F j, Y"}}
        {% endif %}
    </span>
{% endblock %}

{% block post_options %}
    {% if user.is_authenticated %}
        <br />
        {% if not post.published_date %}
                <a class="btn btn-default options-btn publish" href="{% url 'post_publish' slug=post.slug %}">Publish</a>
        {%  endif %}
        <a class="btn btn-default options-btn edit" href="{% url 'post_edit' slug=post.slug %}"><span class="glyphicon glyphicon-pencil">Edit Post</span></a>
        <a class="btn btn-default options-btn remove" href="{% url 'post_remove' slug=post.slug %}"><span class="glyphicon glyphicon-trash">Delete Post</span></a>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">
          <div class="row">
            <div class="col-lg-10 col-md-10 mx-auto">
                <article>
                 {% autoescape off %}{{ post.text |safe }}{% endautoescape %}
                </article>
            </div>
      </div>
    </div>

    <hr />
    <div class="text-center">
    <div>
        <span><strong>How Was This Post?</strong></span>
        <div class="reaction-options">
            <div class="reaction">
                <a style="text-decoration: none;" href="{% url 'update_reaction' slug=post.slug reaction=1 %}"><button class="reaction-btn good">I Could Bookmark This</button></a>
                <span class="reaction-count">{{ responses.great }}</span>
            </div>
            <div class="reaction">
                <a style="text-decoration: none;" href="{% url 'update_reaction' slug=post.slug reaction=2 %}"><button class="reaction-btn ok">It's OK</button></a>
                <span class="reaction-count">{{ responses.good }}</span>
            </div>
            <div class="reaction">
                <a style="text-decoration: none;" href="{% url 'update_reaction' slug=post.slug reaction=3 %}"><button class="reaction-btn poor">Not So Great</button></a>
                <span class="reaction-count">{{ responses.poor }}</span>
            </div>
            <div class="reaction">
                <a style="text-decoration: none;" href="{% url 'update_reaction' slug=post.slug reaction=4 %}"><button class="reaction-btn bad">Remove This From The Internet</button></a>
                <span class="reaction-count">{{ responses.bad }}</span>
            </div>

        </div>
    </div>
        <br/>
    <div class="fb-share-btn"><div class="fb-share-button" data-href="{{ request.path }}" data-layout="button" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Febonsignori.com%2F&amp;src=sdkpreparse">Share</a></div></div>
    <div class="twitter-share-btn"><a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Check%20out%20this%20article!" data-size="large">Tweet</a></div></div>
     <div class="comment-separator">
        <div class="comment-separator-overlay"></div>
        <div class="post-info">
            <!-- Your share button code -->
        <strong>Last updated on</strong> : {{ post.updated_date|date:"F j, Y" }}
            <br />
            <br />
            <strong>Category</strong> : <a style="color:white;" href="/blog/category/{{ post.category.slug }}">{{ post.category }}</a>
        <br />
            <br />
            <strong> By </strong>: <em><a style="color:white;" href="/#about-section">{{ post.author }}</a></em>
            <br />
            <br />
        </div>

        <a class="btn btn-default options-btn comment-btn" href="#new-comment">Add comment</a>
     </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 mx-auto">
            {% if comments %}
            <h3 class="text-center">Comments</h3>
            {% endif %}
             {% for comment in comments %}
                  {% if user.is_authenticated or comment.approved_comment %}
                        <div class="comment">
                            <div class="date">Posted on {{ comment.created_date }}</div>
                             {% if not comment.approved_comment and user.is_authenticated %}
                                <a class="btn btn-default options-btn remove inline-btn" href="{% url 'comment_remove' pk=comment.pk %}">Remove</a>
                                <a class="btn btn-default options-btn publish inline-btn" href="{% url 'comment_approve' pk=comment.pk %}">Approve</a>
                            {% endif %}
                            By <strong>{{ comment.author }}</strong>
                            <br />
                            <div class="container">
                            {% autoescape off %}{{ comment.comment_body |safe }}{% endautoescape %}
                            </div>
                        {% if user.is_authenticated %}
                        <a class="btn btn-default options-btn edit inline-btn" href="{% url 'comment_edit' slug=post.slug pk=comment.pk %}">Edit</a>
                            {% endif %}
                        </div>

                 {% endif %}

            {% endfor %}

            <br /><hr />
            <h3 class="text-center" id="new-comment">New Comment</h3>
                <form class="add-comment-form" method="POST" action="{{ request.path }}#new-comment" role="form">
                    {% csrf_token %}
                          {{ comment_form.non_field_errors }}

                          <div class="add-comment">
                              <label class="add-comment-label" for="{{ comment_form.author.id_for_label }}"><em>Your Name</em></label>
                              {{ comment_form.author.errors }}
                              {{ comment_form.author}}
                          </div>
                        <br />
                        <div class="add-comment">
                            <label class="add-comment-label" for="{{ comment_form.comment_body.id_for_label }}"><em>Your Comment</em></label>
                                  {{ comment_form.comment_body.errors }}
                                  {{ comment_form.comment_body}}
                              </div>
                    <button class="btn btn-default options-btn comment-btn inline-btn" style="background-color: lightgrey; margin-top: 25px;" type="submit" style="color:black">Post Comment</button>
                </form>
            {% if is_posted %}
                <div style="text-align: center;">
                    <strong style="color:green;"> Comment Submitted! </strong> <br />
                    <em>If your comment isn't visible, then it is pending approval.</em>
                </div>
            {% endif %}
            </div>
        </div>
     </div>
{% endblock %}

{% block scripts %}
    <!-- Facebook -->
    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11&appId=282618065592948';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

    <!-- Twitter -->
    <script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>
{% endblock %}